In [3]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report, confusion_matrix
from sklearn.ensemble import GradientBoostingClassifier

In [36]:
data_white = pd.read_csv("data/winequality-white.csv", delimiter=';')
data_white.insert(0, 'color', 0)
data_red = pd.read_csv("data/winequality-red.csv", delimiter=';')
data_red.insert(0, 'color', 1)

X_all = data_white.append(data_red)
y_all = X_all["quality"]
X_all.drop(labels="quality", axis=1, inplace=True)

print("Qualities occurencies")
print(y_all.value_counts())

state = 2
test_size = 0.3
X_train, X_test, y_train, y_test = train_test_split(X_all, y_all, test_size=test_size, random_state=state)

gb_clf = GradientBoostingClassifier(n_estimators=100, learning_rate=0.47, max_depth=3, random_state=0)
gb_clf.fit(X_train, y_train)

print("Accuracy score (training): {0:.3f}".format(gb_clf.score(X_train, y_train)))
print("Accuracy score (validation): {0:.3f}".format(gb_clf.score(X_test, y_test)))

Qualities occurencies
6    2836
5    2138
7    1079
4     216
8     193
3      30
9       5
Name: quality, dtype: int64
Accuracy score (training): 0.877
Accuracy score (validation): 0.616

In [20]:
X_train

,color,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
4182,0,7.5,0.38,0.56,9.70,0.055,15.0,170.0,0.99605,3.13,0.65,9.9
1912,0,7.9,0.30,0.27,8.50,0.036,20.0,112.0,0.99390,2.96,0.46,11.7
1993,0,7.4,0.30,0.22,5.25,0.053,33.0,180.0,0.99260,3.13,0.45,11.6
2085,0,7.9,0.17,0.32,1.60,0.053,47.0,150.0,0.99480,3.29,0.76,9.6
3399,0,5.6,0.32,0.33,7.40,0.037,25.0,95.0,0.99268,3.25,0.49,11.1
...,...,...,...,...,...,...,...,...,...,...,...,...
2514,0,6.9,0.34,0.30,4.70,0.029,34.0,148.0,0.99165,3.36,0.49,12.3
1545,1,6.5,0.63,0.33,1.80,0.059,16.0,28.0,0.99531,3.36,0.64,10.1
3606,0,6.4,0.38,0.24,7.20,0.047,41.0,151.0,0.99604,3.11,0.60,9.2
806,1,8.4,0.25,0.39,2.00,0.041,4.0,10.0,0.99386,3.27,0.71,12.5
2575,0,6.7,0.17,0.42,10.40,0.038,85.0,182.0,0.99628,3.04,0.44,8.9

In [21]:
X_test

,color,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
799,0,6.0,0.180,0.31,1.4,0.036,14.0,75.0,0.99085,3.34,0.58,11.1
1153,0,5.3,0.395,0.07,1.3,0.035,26.0,102.0,0.99200,3.50,0.35,10.6
17,1,8.1,0.560,0.28,1.7,0.368,16.0,56.0,0.99680,3.11,1.28,9.3
2602,0,6.4,0.220,0.34,1.4,0.023,56.0,115.0,0.98958,3.18,0.70,11.7
369,1,9.4,0.270,0.53,2.4,0.074,6.0,18.0,0.99620,3.20,1.13,12.0
...,...,...,...,...,...,...,...,...,...,...,...,...
980,1,9.1,0.500,0.30,1.9,0.065,8.0,17.0,0.99774,3.32,0.71,10.5
188,1,7.9,0.500,0.33,2.0,0.084,15.0,143.0,0.99680,3.20,0.55,9.5
1709,0,6.8,0.220,0.30,13.6,0.055,50.0,180.0,0.99840,3.44,0.39,9.8
2417,0,7.3,0.815,0.09,11.4,0.044,45.0,204.0,0.99713,3.15,0.46,9.0
370,0,6.9,0.330,0.21,1.0,0.053,39.0,148.0,0.99270,3.12,0.45,9.4